/* new ranked btn to swords!!! */

@font-face {
font-family: 'Material Symbols Outlined';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/icon/font?kit=kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOejdd8fw1Jfrr8d3x6ryTg&skey=b8dc2088854b122f&v=v247) format('woff2');
}

.menBtnIcn[style="color:#5ce05a"]::after {
  content: "swords";
  visibility: visible;
  position: absolute;
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  top: 0;
  left: 0;
  color: white;
  font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

/* comp class picker lock to cross */
.cmpClassLck {
  visibility: hidden;
}

.cmpClassLck::before {
  visibility : visible;
  font-family: 'Material Icons';
  font-size  : 100px;
  display    : inline-block;
  content    : "close" !important;
  position: absolute;
  color      : red;
  top        : -15px !important;
  left: -5px;
}
